/* font-family: 'Noto Sans', sans-serif;
font-family: 'Permanent Marker', cursive; */

html,
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans', sans-serif;
}

h1{
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}

h4{
    font-weight: 30;
    font-size: .7rem;
    letter-spacing: .1em;
}

img{
    width: 100%;
    display: inline;
}

 /* ==============
    Layout 
 ============== */

  /* First Row */

    #div1{
        background-color: #00B4D8;
        background-image: linear-gradient( to top right, #00B4D8 30%, #0096C7);
        color: #03045E;
        text-align: center;
        padding: 2em 1.45em 0;
    }

    div[class$="cloud"] {
        width: 20%;
    }
    .left-cloud{
        margin-left: 2em;
    }
    .right-cloud{
        position: absolute;
        right: 2em;
    }

    .intro-heading{
        letter-spacing: .20em;
        margin-bottom: .45em;
    }
    .subtitle-heading{
        font-size: 1em;
        font-weight: 100;
    }
    .emphasize-on{
        border-bottom: 2px solid #03045E;
    }

    .mountain{
        max-width: 756px;
    }

    .right-cloud + div {
        width: 70%;
        margin: 0 auto;
    }


    /* Second Row */

    #div2{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: .5em .2em;
    }

    .little-about{
        width: 90%;
        letter-spacing: .10em;
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.6;
    }
    .little-about-heading{
        color: #03045E;
        font-size: 2rem;
    }



    .profile-img{
        width: 35%;
        margin: .75em auto;
    }

    /* Third Row */

    #div7{
        background-color: #0096C7;
        color: #000;
        text-align: center;
        padding: 1.7em 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #div7 h2{
        font-size: 2rem;
    }

    .skills-box{
        border: inset 1px #d8ad00;
        background-color: #00B4D8;
        width: 95%;
        border-radius: 10px;
        margin: .5em;
    }
    .skills-box:last-child{
        margin-bottom: 3em;
    }

    .main-skills{
        display: flex;
        padding: .5em .75em;
        justify-content: space-between;
        align-items: center;
    }
    .main-skills div{
        width: 50%;
        margin: 0 auto;
    }

    #main-skills-po{
        overflow: auto;
    }
    #main-skills-po::-webkit-scrollbar{
        height: 6px;    
    }
    #main-skills-po::-webkit-scrollbar-track{
        background-color: #d8ad00;
        margin: 10px;
        border-radius: 10px;
    }
    #main-skills-po::-webkit-scrollbar-thumb{
        background-color: #d8ad00;
        border-radius: 6px;
        box-shadow: inset 0 0 6px ;
    }

    #main-skills-po div{
        width: 90%;  
        margin: 0 5em 0 0;
    }
    #main-skills-po div:first-child{
        margin-left: .5em;
    }
    #main-skills-po div:last-child{
        margin-right: .75em;
    }

        
    .ski-img{
        width: 100%;
    }
    




    /* Fourth Row */

    #div3{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .education,
    .experience,
    .contact-me{
        width: 100%;
    }


    .education p,
    .experience p{
        max-width: 70%;
        margin: 0 auto;
        font-size: 0.8rem;
        text-align: center;
    }

    .me-headers{
        color: #03045E;
        font-size: 2rem;
        padding: .75em 1em;
        text-transform: uppercase;
        text-decoration: underline #03045E 5px;
    }

    /* Fifth Row & Last Row */

    #div3{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .experience{
        width: 100%;
        letter-spacing: .05em;
        line-height: 1.4;
    }
    .experience p{
        padding: 0 1em;
    }

    .intern-img{
        width: 30%;
    }
    .img-together{
        display: flex;
        justify-content: space-evenly;
    }

   


    /* Footer */

    footer{
        background-color: #00B4D8;
        text-align: center;
        padding: .5em 2em;
    }
    .contact-me{
        line-height: 2;
        font-size: 1.5rem;
        text-align: center;
    }
    .contact-me ul{
        list-style: none;
        color: #03045E;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0;
    }

    li:focus,
    li:hover{
        transform: scale(1.5);
        transition-delay: 0.2s;
        transition-duration: 1.2s;
    }
 
    li a{
        text-decoration: none;
        color: #03045E;
    } 
    
    .contact-me ul:hover,
    .contact-me ul:focus{
        color: #0096C7;
    }

 /* ===============
    Media Queries
 ================= */

 @media (min-width: 750px)

 {

    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1.5rem;
    }
    .subtitle-heading{
        font-size: 2rem;
    }
    .little-about{
        font-size: 1.5rem;
    }
    .little-about-heading{
        font-size: 4rem;
    }

    .profile-img{
        max-width: 450px;
    }

    
     #div3{
         flex-direction: row;
         justify-content: space-evenly;
         align-items: flex-start;
     }
     .main-skills div{
         width: 35%;
     }

     #main-skills-po div{
         width: 65%;
         margin: 0 auto;
     }

     .skills-box{
         max-width: 915px;
         overflow: hidden;
     }

     .education,
     .experience{
         width: 45%;
     }

     .contact-me ul{
         margin: .75em auto;
        max-width: 450px;
     }
 }

